body {
  background-color: #fff;
}

.card {
  box-shadow:
    inset 0 0 15px #3754aa00,
    inset 0 0 20px #ffffff00,
    4px 4px 15px #3754aa26,
    -4px -4px 20px #f1f3f6,
    inset 0px 0px 4px #f1f3f633;
}


.tag {
  background-color: #aaa;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  color: #000;
}

.tag .fa {
  display: none;
  color: #fff;
  margin-left: 5px;
}

.tag:hover .fa {
  display: inline;
}

tr.TDTotalIncome{
  background-color: rgba(0,0,0,.075);
}

tr.TDTotalIncome td{
  border-top: 1px solid #444
}